<?xml version="1.0" encoding="UTF-8"?>
<!-- PHPUnit configuration. Author: Sonny x Inkfire. -->
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Plugin unit tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
